In [5]:
import requests as req
import pandas as pd
from time import sleep

payload = {'download':'','hdn_gostartdate':'2017/09/1','hdn_goenddate':'2017/10/31','syear':'2017','smonth':'09','sday':'1','eyear':'2017','emonth':'10','eday':'31','datestart':'2017/09/1','dateend':'2017/10/31'}

while err_count <=3:
    try:
        html = req.post('http://www.taifex.com.tw/chinese/3/3_5.asp', data=payload)
    except:
        sleep(5)
        err_count += 1
        continue
#注意網頁編碼
html.encoding = 'utf-8'
df = pd.read_html(html.text)
df = df[2] #這裡的數字必須從0開始試，直到選取所需資料為止
df.columns = df.iloc[0] #指定第一列為欄位名稱
df = df.drop(0).reset_index(drop=True) #刪除第一列
df.sort_index(ascending=False).head() #以index排序(由新到舊)

,日期,美元／新台幣,人民幣／新台幣,歐元／美元,美元／日幣,英鎊／美元,澳幣／美元,美元／港幣,美元／人民幣,美元／南非幣,紐幣／美元
40,2017/10/31,30.17,4.551175,1.1644,113.065,1.32145,0.7679,7.8016,6.62905,14.06155,0.68485
39,2017/10/30,30.205,4.542892,1.1627,113.7,1.3163,0.76745,7.79985,6.64885,14.087,0.68515
38,2017/10/27,30.277,4.550936,1.1631,114.11,1.3075,0.76415,7.8037,6.6529,14.30395,0.68355
37,2017/10/26,30.229,4.554422,1.18175,113.76,1.32375,0.7687,7.80165,6.6373,14.1916,0.6874
36,2017/10/25,30.266,4.557152,1.1767,113.86,1.3132,0.77135,7.8033,6.64145,13.7302,0.6891

In [6]:
df.to_csv('../data/fp_demo2.csv', sep=',', encoding='utf-8-sig', index=False)

In [7]:
import pandas.io.sql as pd_sql
import sqlite3 as sql

#連線至sqlite檔案，若無該檔案sql，則會建立一個新的
conn = sql.connect("../data/twse.db")
#將Dataframe資料寫入sql檔中的'demo2'表中，無該資料表則會自動建立
df.to_sql("demo2", conn, if_exists="replace", index=False)

In [8]:
pd.read_sql_query("select * from demo2;", conn).sort_index(ascending=False).head() #以index排序(由新到舊)

,日期,美元／新台幣,人民幣／新台幣,歐元／美元,美元／日幣,英鎊／美元,澳幣／美元,美元／港幣,美元／人民幣,美元／南非幣,紐幣／美元
40,2017/10/31,30.17,4.551175,1.1644,113.065,1.32145,0.7679,7.8016,6.62905,14.06155,0.68485
39,2017/10/30,30.205,4.542892,1.1627,113.7,1.3163,0.76745,7.79985,6.64885,14.087,0.68515
38,2017/10/27,30.277,4.550936,1.1631,114.11,1.3075,0.76415,7.8037,6.6529,14.30395,0.68355
37,2017/10/26,30.229,4.554422,1.18175,113.76,1.32375,0.7687,7.80165,6.6373,14.1916,0.6874
36,2017/10/25,30.266,4.557152,1.1767,113.86,1.3132,0.77135,7.8033,6.64145,13.7302,0.6891