In [10]:
#使用CSV
import pandas as pd

#讀取要合併的csv檔
csv1 = pd.read_csv('fp_demo.csv')
csv2 = pd.read_csv('fp_demo2.csv')

#以'日期'為index合併Dataframe
result = pd.merge(csv1, csv2, on='日期')
result.head()

,日期,成交股數,成交金額,開盤價,最高價,最低價,收盤價,漲跌價差,成交筆數,美元／新台幣,人民幣／新台幣,歐元／美元,美元／日幣,英鎊／美元,澳幣／美元,美元／港幣,美元／人民幣,美元／南非幣,紐幣／美元
0,2017/9/1,"17,805,405","3,851,834,126",215.0,217.5,215.0,216.5,0.0,"6,956",30.156,4.584315,1.18920,110.100,1.29145,0.79360,7.82595,6.57810,12.94610,0.71595
1,2017/9/4,"15,053,185","3,273,164,145",216.5,218.0,215.5,217.5,1.0,"8,635",30.101,4.608885,1.18960,109.460,1.29420,0.79560,7.82535,6.53110,12.96600,0.71705
2,2017/9/5,"34,514,275","7,503,488,603",218.0,218.0,216.5,218.0,0.5,"7,065",30.070,4.586457,1.18810,109.455,1.29255,0.79635,7.82525,6.55625,12.97290,0.71775
3,2017/9/6,"28,148,528","6,117,444,609",216.5,218.0,216.0,217.0,-1.0,"6,999",30.105,4.606336,1.19440,108.710,1.30420,0.79910,7.82460,6.53555,12.90365,0.72335
4,2017/9/7,"19,198,540","4,170,321,680",218.0,218.5,216.0,217.0,0.0,"6,586",30.062,4.619808,1.19485,109.015,1.30460,0.80015,7.81960,6.50720,12.81720,0.71900

In [4]:
result.to_csv('fp_demo3.csv', sep=',', encoding='utf-8-sig', index=False)

In [8]:
#使用SqLite
import pandas.io.sql as pd_sql
import sqlite3 as sql
import pandas as pd

#連線至sqlite檔案，若無該檔案sql，則會建立一個新的
conn = sql.connect("twse.db")


df1 = pd.read_sql_query("select * from demo1;", conn)
df2 = pd.read_sql_query("select * from demo2;", conn)

#以'日期'為index合併Dataframe
result = pd.merge(df1, df2, on='日期')
#刪除多餘欄位
result = result.drop(['index_x', 'index_y'], axis=1)
#將result寫入sql檔中的'demo3'表中，無該資料表則會自動建立
result.to_sql("demo3", conn, if_exists="replace")

In [11]:
pd.read_sql_query("select * from demo3;", conn).head()

,index,日期,成交股數,成交金額,開盤價,最高價,最低價,收盤價,漲跌價差,成交筆數,美元／新台幣,人民幣／新台幣,歐元／美元,美元／日幣,英鎊／美元,澳幣／美元,美元／港幣,美元／人民幣,美元／南非幣,紐幣／美元
0,0,2017/9/1,"17,805,405","3,851,834,126",215.00,217.50,215.00,216.50,0.00,"6,956",30.156,4.584315,1.1892,110.1,1.29145,0.7936,7.82595,6.5781,12.9461,0.71595
1,1,2017/9/4,"15,053,185","3,273,164,145",216.50,218.00,215.50,217.50,+1.00,"8,635",30.101,4.608885,1.1896,109.46,1.2942,0.7956,7.82535,6.5311,12.966,0.71705
2,2,2017/9/5,"34,514,275","7,503,488,603",218.00,218.00,216.50,218.00,+0.50,"7,065",30.07,4.586457,1.1881,109.455,1.29255,0.79635,7.82525,6.55625,12.9729,0.71775
3,3,2017/9/6,"28,148,528","6,117,444,609",216.50,218.00,216.00,217.00,-1.00,"6,999",30.105,4.606336,1.1944,108.71,1.3042,0.7991,7.8246,6.53555,12.90365,0.72335
4,4,2017/9/7,"19,198,540","4,170,321,680",218.00,218.50,216.00,217.00,0.00,"6,586",30.062,4.619808,1.19485,109.015,1.3046,0.80015,7.8196,6.5072,12.8172,0.719